.navbar {
    background-color: #6C757D !important;
    padding: 1em;
    margin: 0em !important;
}

.bolde {
    font-weight: 900;
    font-size: 1.5em;
}

.me-2 {
    background-color: #DEE2E6 !important;
    height: 2.5em;
    align-self: center !important;
}

.search-button {
    background-color: #495057 !important;
    color: black !important;
    border-color: black !important;
    width: 9em;
    height: 2.5em;
    align-self: center !important;
}

.greeting {
    color: white;
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
}